<div class="band-detail-container">
    <h1>{{$resolve.band.name}}</h1>

    <h2>Artists</h2>
    <!--  -->
    <!-- ARTISTS LIST -->
    <ul>
        <li ng-repeat="artist in $resolve.artists">
            {{artist.firstName}}
        </li>
    </ul>
    <!--  -->
    <hr />


    <h2>Albums</h2>
    <!--  -->
    <!-- ALBUNS LIST -->
    <ul>
        <li ng-repeat="album in $resolve.albums">
           <a href="./album/{{album.id}}">{{album.name}}</a>
        </li>
    </ul>
    <!--  -->
    <hr />


    <div class="tracks">
        <h2>Tracks in {{ album }}</h2>
        <!--  -->
        <!-- TRACKS TABLE -->
        <ul>
            <li ng-repeat="track in $resolve.tracks">
                <a href="./track/{{track.id}}">{{track.name}}</a>
            </li>
        </ul>
        <!--  -->
        <hr />
        <!--  -->
        <!-- COMMENTS AREA -->
        <ul>
            <li ng-repeat="comment in $resolve.comments">
                {{comment.description}}
            </li>
        </ul>
        <!--  -->
    </div>
</div>
